# Format String

String seperti tuple, elemennya tidak bisa diganti/diassign

In [1]:
website = 'http://www.python.org'

In [2]:
website[-3:]

'org'

In [3]:
website[-3:]='com'

TypeError: 'str' object does not support item assignment

In [7]:
format = "Hallo, %s. hari ini %s ya?"
isi = ('Mas','mendung')
print(format % isi)

Hallo, Mas. hari ini mendung ya?

Tanda %s adalah penentu konversi (conversion specifiers), menandai dimana nilai akan diisikan/disisipkan. "s" artinya bahwa nilai harus dikonversikan sebagai string

![](Gambar/konv.png)

In [9]:
format = "Pi dengan 3 desimal angka di belakang koma: %.3f"
from math import pi
print(format % pi)

Pi dengan 3 desimal angka di belakang koma: 3.142

Modul string menawarkan cara lain untuk menformat nilai menggunakan fungsi Template, yang harus diimport terlebih dahulu

In [12]:
from string import Template
s = Template('Sekali $x, tetap $x!')
s.substitute(x='merdeka')

'Sekali merdeka, tetap merdeka!'

In [13]:
s = Template('A $thing must never $action')
d={}
d['thing']='gentleman'
d['action']='show his shocks'
s.substitute(d)

'A gentleman must never show his shocks'

In [21]:
'%s plus %s equals %s' %(1, 1, 2)

'1 plus 1 equals 2'

In [22]:
'%10f' %pi

'  3.141593'

In [23]:
'%10.2f' %pi

'      3.14'

In [24]:
'%.2f' %pi

'3.14'

In [26]:
'%.5s' %'Wiwit Suryanto'

'Wiwit'

Kita dapat memakai * sebagai pengatur lebar atau presisinya, dengan input nanti dibaca dari tuple

In [27]:
'%.*s' % (5,'Wiwit Suryanto')

'Wiwit'

## Tanda, perataan, penambahan nol di depan

Sebelum memberikan informasi lebar dan presisi dari sebuah bilangan, kita dapat mmeberi tanda, berupa nol, plus, minus atau kosong.

In [28]:
'%010.2f' % pi

'0000003.14'

In [29]:
'%-10.2f' %pi

'3.14      '

In [32]:
print(('% 5d' %10) + '\n' + ('% 5d' % -10))

   10
  -10

In [33]:
print(('%+5d' %10) + '\n' + ('%+5d' % -10))

  +10
  -10

In [48]:
width = input('Masukkan lebar tabel: ')
price_width = 10
item_width = int(width) - price_width

header_format = '%-*s%*s'
format = '%-*s%*.2f'

print('='*int(width))
print(header_format %(item_width,'Item',price_width,'Price'))

print('-'*int(width))
print(format %(item_width,'Apples',price_width,0.4))
print(format %(item_width,'Pears',price_width,0.5))
print(format %(item_width,'Cantaloupes',price_width,1.92))
print(format %(item_width,'Dried Apricots',price_width,8))
print(format %(item_width,'Prunes (4 lbs.)',price_width,12))

print('-'*int(width))

Masukkan lebar tabel:  40

========================================
Item                               Price
----------------------------------------
Apples                              0.40
Pears                               0.50
Cantaloupes                         1.92
Dried Apricots                      8.00
Prunes (4 lbs.)                    12.00
----------------------------------------

### Metode String

1. find

In [49]:
'With a moo-moo here, and a moo-moo there'.find('moo')

7

In [52]:
title = "Monthy Python's Flying Circus"
title.find('Flying')

16

In [53]:
title.find('monty')

-1

2. join

In [55]:
seq = [1,2,3,4,5]
sep = '+'
sep.join(seq)

TypeError: sequence item 0: expected str instance, int found

In [56]:
seq = ['1','2','3','4','5']
sep = '+'
sep.join(seq)

'1+2+3+4+5'

In [57]:
dirs = '','usr','bin','env'

In [58]:
dirs

('', 'usr', 'bin', 'env')

In [59]:
'/'.join(dirs)

'/usr/bin/env'

In [60]:
print('C:'+'\\'.join(dirs))

C:\usr\bin\env

3. lower

In [61]:
'Trondheim Hammer Dance'.lower()

'trondheim hammer dance'

In [62]:
if 'Gumby' in ['gumby','smith','jones']: print('Found it!')

In [64]:
name = 'Gumby'
names = ['gumby','smith','jones']
if name.lower() in names: print('Found it!')

Found it!

4. title

In [65]:
"model kantong magma gunung merapi".title()

'Model Kantong Magma Gunung Merapi'

Alternatifnya "capwords"

In [66]:
import string
string.capwords("model kantong magma gunung merapi")

'Model Kantong Magma Gunung Merapi'

5. replace

In [67]:
'This is a test'.replace('is','eez')

'Theez eez a test'

6. split

In [69]:
'1+2+3+4+5'.split('+')

['1', '2', '3', '4', '5']

In [70]:
'/usr/bin/env'.split('/')

['', 'usr', 'bin', 'env']

7. strip

In [71]:
'       internal whitespace is kept    '.strip()

'internal whitespace is kept'

In [72]:
names = ['gumby','smith','jones']
name = 'gumby '
if name in names: print("Found it!")

In [73]:
names = ['gumby','smith','jones']
name = 'gumby '
if name.strip() in names: print("Found it!")

Found it!

## lebih jauh dengan perintah print dan import

Dengan perintah print, kita dapat menampilkan banyak ekspresi, yaitu cukup dipisahkan dengan tanda koma, misalnya

In [74]:
print('Umur:', 42)

Umur: 42

In [75]:
nama = 'Anna'
panggilan = 'Mrs.'
sapaan = "Hallo, "
print(sapaan, panggilan, nama)

Hallo,  Mrs. Anna

Import dapat mengambil sesuatu dan manamai dengan nama baru, misalnya
```python
import somemodule 
```
atau
```python
from somemodule import somefunction
```
atau
```python
from somemodule import somefunction, anotherfunction, yetanotherfunction
```
atau
```python
from somemodule import *
```

In [76]:
import math as matematika
matematika.sqrt(16)

4.0

In [78]:
from math import sqrt as akar
akar(4)

2.0

In [79]:
oyot = akar
oyot(16)

4.0

### Augmented assignment

Kita dapat menuliskan ```x = x + 1 ``` dengan menuliskan tanda oprasi matematika sebelum tanda ```=```. Ini berlaku untuk operasi ```+ - x /``` dan ```%```

In [81]:
x = 2
x += 1
x *=2
x

6

In [82]:
fnord = 'foo'
fnord += 'bar'
fnord *= 2
fnord

'foobarfoobar'

### Selingan, the joy of Python
# Zen of Python

In [86]:
import this

![](Gambar/zen.png)

## Conditional execution and if statement

In [90]:
nama = input('Sebutkan nama Anda: ')
if nama.endswith('Suryanto'):
    print('Hallo Mr. Suryanto')

Sebutkan nama Anda:  Wiwit Suryanto

Hallo Mr. Suryanto

In [91]:
nama = input('Sebutkan nama Anda: ')
if nama.endswith('Suryanto'):
    print('Hallo Mr. Suryanto')
else:
    print('Hallo orang asing')

Sebutkan nama Anda:  Wiwit

Hallo orang asing

In [96]:
num = input('masukkan sebuah angka: ')
if int(num) > 0:
    print('angka positif')
elif int(num)<0 :
    print('angka negatif')
else:
    print('angka nol')

masukkan sebuah angka:  0

angka nol

# Tabel oprator komparasi di Python

![](Gambar/comp.png)

In [99]:
# While Loops
x = 1
while x < 10:
    print(x)
    x +=1

1
2
3
4
5
6
7
8
9

In [100]:
# for Loops
words = ['this','is','an','ex','parrot']
for word in words:
    print(word)

this
is
an
ex
parrot

In [101]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [104]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [103]:
range(10)

range(0, 10)

In [105]:
# Parallel iteration
nama = ['anne','beth','george','damon']
umur = [12,45,32,102]
for i in range(len(nama)):
    print(nama[i], 'is', umur[i], ' tahun')

anne is 12  tahun
beth is 45  tahun
george is 32  tahun
damon is 102  tahun

In [106]:
# Slighty loopy
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
[x*x for x in range(10) if x % 3 == 0]

[0, 9, 36, 81]

In [108]:
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# Fungsi

In [109]:
def square(x):
    'Menghitung kuadrat dari x'
    return x*x